* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #f6d200;
    --color-grey: #ededed;
    --color-dark: #000;
    --color-white: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

body {
    background-color: var(--color-grey);
    color: var(--color-dark);
    line-height: 1.5;
    font-family: 'Asap', sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* ######### header css ############  */

.header {
    background-color: var(--color-dark);
    color: var(--color-white);
    height: 400px;
}

.header h1 {
    text-transform: uppercase;
}

.header p {
    font-style: italic;
}

.navbar {
    background-color: var(--color-primary);
}

.site-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar ul li a:link,
.navbar ul li a:visited {
    text-transform: capitalize;
    background-color: var(--color-primary);
    color: var(--color-dark);
    text-align: center;
    font-size: 24px;
    padding: 10px;
    font-weight: bold;
    display: block;
    transition: all .4s ease-in-out;
}

.navbar ul li a:hover,
.navbar ul li a:focus,
.navbar ul li a:active {
    background-color: var(--color-dark);
    color: var(--color-primary);
}

.content-area {
    flex-direction: column;
}

.main-content-area {
    padding: 10px;
}

.sidebar-section {
    border: 1px solid yellowgreen;
}

/* css of posts section  */
.posts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.post {
    background-color: var(--color-white);
    margin-bottom: 20px;
}

.post img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.post-content {
    transform: translateY(-10px);
}

.post-content h2 {
    padding: 20px;
    text-align: center;
    background-color: var(--color-primary);
    text-transform: capitalize;
    color: var(--color-dark);
}

.post-content p {
    padding: 25px;
    color: var(--color-dark);
}



@media all and (min-width:768px) {
    .posts{
        flex-direction: row;
        justify-content: space-between;
    }
    .posts .post{
        width: 49%;
    }
}


@media all and (min-width:1180px) {
    .navbar ul {
        display: flex;
    }

    .navbar li {
        flex-grow: 1;
    }

    .content-area{
        flex-direction: row;
    }

    .main-content-area {
        flex-grow: 1;
    }

    .sidebar-section {
        /* flex-basis: 400px; */
        flex: 0 0 400px;
    }

   

    .posts .post:nth-child(1) , 
    .posts .post:nth-child(2){
        width: 49%;
    }

    .posts .post:nth-child(3) , 
    .posts .post:nth-child(4),
    .posts .post:nth-child(5)
    {
        width: 32%;
    }

    .posts .post:last-child{
        width: 100%;
    }
}